<!DOCTYPE html>
<html lang="en">
<head>
   <title>Foodfy</title>
  <link rel="stylesheet" href="/styles_admin.css">
</head>
<header>
    <div class="logo">
            <a href="/">
                <img src="/assets/logo_white.png" alt="Foodfy">
            </a>
    </div>
</header>

<body>
    
    <div class="container">
        {% block content %}

        {% endblock%}

    </div>

{#     <footer>Todos os direitos reservados, receitas Foodfy.

    </footer> #}

    <script src="/scripts.js"></script>

</body>
</html>