{% extends "./layout.njk" %}
    
{% block head %}
    <title>{{recipe.title}}</title>
{% endblock %}

{% block content %}

        <section class="hero">
            <div class="intro">

                <h1>
                    As melhores receitas
                </h1>
                <p>
                    Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro.
                </p>
            </div>
            
            <img src="/assets/chef.png">
        </section>

     <section id="home_cards">
        <div class="cards-home">
        {% for recipe in recipes %}
          {% if loop.index <= 6 %}
            <div class="card_home">
              <div class="home_card__image">
                <img src="{{recipe.image}}" alt="{{recipe.title}}">
              </div>
              <div class="home_card__title">
                <p>{{recipe.title}}</p>
              </div>
              <div class="home_card__author">
                <p>por {{recipe.author}}</p>
              </div>
            </div>
          {% endif %}
        {%endfor%}
      </div>
    </section>
  </div>




{% endblock content %}