{% extends "./layout.njk" %}    
    
{% block head %}
    <title>{{recipe.title}}</title>
{% endblock %}

{% block content %}
<div class="recipe">
     
    <div class="recipe-header">
            <img src="{{recipe.image}}" alt={{recipe.title}}>
            <h1>{{recipe.title}}</h1>
            <h2>por {{recipe.author}}</h2>
    </div>


    <div class="recipe-content">

          <div id="ingredients" class="topic">
                  <div class="topic-info">
                      <h3>Ingredientes</h3>
                      <h4>ESCONDER</h4>
                  </div>

                  <div class="topic-content">
                      <ul>

                      {% for ingredient in recipe.ingredients %}
                          <li>{{ingredient}}</li>
                      {% endfor %}


                      </ul>
                  </div>
          </div>
    
          <div id="preparation" class="topic">
                  <div class="topic-info">
                      <h3>Modo de preparo</h3>
                      <h4>ESCONDER</h4>
                  </div>
                  <div class="topic-content">
                      <ul>

                      {% for preparation in recipe.preparation %}
                          <li>{{preparation}}</li>
                      {% endfor %}


                      </ul>
                  </div>
          </div>

          <div id="information" class="topic">
                  <div class="topic-info">
                      <h3>Informações adicionais</h3>
                      <h4>ESCONDER</h4> 
                  </div>
                  <div class="topic-content">
                      <p>{{recipe.information}}</p>
                  </div>
          </div>
    </div>

</div>

{% endblock content %}